[2016-09-12 13:55] bobbywatson3 opened #21 "Add CLA Assistant Integration"
Setup integration with the CLA assistant.

https://cla-assistant.io/

[2016-09-12 17:00] jpsenior opened #23 "Ability to start/stop dhcpd from web UI"
We need the ability to start/stop the DHCP server from the Web UI

[2016-09-12 18:07] jpsenior opened #25 "Help pages on webapp"
Help, About should return version and License information
Help, readme should display readme file @robertwatson3 is building

Help, Sitemap should return a simple site map

Help, API should show a simple API document on how to use HTTP API [this can be automatically generated from registered app routes]

[2016-09-17 07:18] jpsenior opened #45 "Webapp 'license' page"
The webapp 'license' page should show the apache license, and any other future applicable licenses that we may find necessary to include in the Aeon ZTP server.

[2016-09-17 17:47] jeremyschulman opened #53 "Verify support with Cumulus 3.x"
The Cumulus support has been tested against 2.5.6 - 2.5.x.
Need to verify support with  Cumulus 3.x release

[2016-09-18 20:26] jpsenior opened #58 "eos-bootstrap CommandError exception should include diagnostic details"
If eos-bootstrap fails with a device command error, the bootstrap log entry is not helpful to understand what the root cause problem is.

Adding the command that was supposed run and the result (failure) output from the EOS device would be helpful to an administrator troubleshooting ZTP booting issues.

Example from below is from dev.api.execute('copy running-config status-config') which caused a

[2016-09-19 09:27] jpsenior opened #61 "Partial ZTP provisioning causes EOS to fail re-attempted ZTP reboots"
If the device is in a 'failed' state on the ZTP database, or /api/register fails (eg, a device already exists) for reprovisioning/rebooting, the eos-bootstrap script will 'copy run start' anyway, thinking it is able to continue while the ZTP bootstrapper is running in the background waiting for device access.

This causes a write to mnt/flash/startup-config for a ZTP-only 'bootstrap' configuration

[2016-09-21 18:16] jeremyschulman opened #73 "Cumulus bootstrap program must check for virtual system to guardrail OS upgrade"
The cumulus-bootstrap program does not guardrail against attempting to OS install on a Cumulus VX system.  Need to add a check / report / fail for this scenario.

labeling as an enhancement, and will add a warning in the documentation.

[2016-09-21 18:17] jeremyschulman opened #74 "EOS bootstrap program must check for virtual system to guardrail OS upgrade"
The eos-bootstrap program does not guardrail against attempting to OS install on an Arista vEOS system.  Need to add a check / report / fail for this scenario.

labeling as an enhancement, and will add a warning in the documentation.

[2016-09-21 18:18] jeremyschulman opened #75 "NXOS bootstrap program must check for virtual system to guardrail OS upgrade"
The nxos-bootstrap program does not guardrail against attempting to OS install on a vNXOS system.  Need to add a check / report / fail for this scenario.

[2016-11-01 22:49] jpsenior opened #106 "Building Vagrant image - provisioner options"
A few new build outputs are required for a number of projects upcoming (Openstack, KVM, Libvirt, ESXi) environments.

Right now, we build the vagrant image by hand, tweak as necessary, and export as an OVF, change OVF settings for compatibility between virtualbox and vmware.

This process is cumbersome and error-prone and not easily repeatable.
The ask for this is for the Vagrant build process to

[2016-11-02 13:41] bobbywatson3 opened #108 "Adopt ubuntu/trusty64 as Vagrant base box"
Also streamline the linux update process so that vagrant up is quicker.

[2016-11-02 19:04] joonpaik opened #110 "gui download link has extra "download" dir:"
Its showing this > http://10.10.10.10:8080/download/downloads/ztp-cumulus.sh
it should be > http://10.10.10.10:8080/downloads/ztp-cumulus.sh

[2016-11-02 19:04] joonpaik opened #111 "gui download link has extra "download" dir:"
Its showing this > http://10.10.10.10:8080/download/downloads/ztp-cumulus.sh
it should be > http://10.10.10.10:8080/downloads/ztp-cumulus.sh

[2016-11-08 13:44] bobbywatson3 commented on #25
sphinx documentation is now included in help.

[2016-11-08 13:44] bobbywatson3 commented on #21
I have confirmed that this works for external contributors.

[2016-11-08 13:44] #21 closed

[2016-11-08 20:14] bobbywatson3 opened #113 "Run ZTPS on standard web port 80"
Change nginx config and any scripts to use port 80.

[2016-11-09 14:31] bobbywatson3 commented on #110
Duplicate of #111

[2016-11-09 14:31] #110 closed

[2016-11-18 01:54] burnyd opened #114 "Vagrantfile"
Is missing require 'yaml' to make it start.

[2016-11-18 03:49] bobbywatson3 commented on #114
Hey Daniel! Can you give us a little more info on the problem that you're experiencing? What's not working, and how would you expect it to work?

[2016-11-18 14:24] #111 closed

[2016-11-22 15:43] bobbywatson3 opened #116 "Add button to "ztp status" page to uninstall AOS run files"
invoke aos-installer-foo uninstall command from webui.

[2016-11-22 16:15] bobbywatson3 opened #117 "Add AOS run file version to ZTP status page on a per-device basis"
End-users should be able to tell at a glance which version of AOS run files are loaded on the devices.

[2016-11-22 23:09] skg-net opened #118 "Is there developer guide on how to support other vendor OS?"
Is there developer guide on how to support other vendor OS?

[2016-11-22 23:45] jeremyschulman commented on #118
@skg-net - I am in the process of putting one together.  If you'd like to be an "alpha pilot" as part of this process, please let me know.  Which OS are you looking at?

[2016-11-23 00:10] skg-net commented on #118
@jeremyschulman Thanks for the quick response. Planning to add support for Dell OS9 / OS10.
Its of personal interest and cannot give my commitment at this time, will get back to you on that. Please keep in loop, will try it out.

[2016-11-23 00:30] jeremyschulman commented on #118
@skg-net - does this OS have a "ZTP" or similar process?  that is, something that is run by the OS on first/factory boot that kickstarts the system for zero-touch-provisioning; i.e. similar to Cumulus / Arista / Cisco|POAP, ....

Also, is there a VM for the OS that we could try out?

[2016-11-23 01:00] skg-net commented on #118
Yes, it does support something similar to ZTP. Its called Bare Metal Provisioning  [(BMP)](http://en.community.dell.com/techcenter/networking/w/wiki/4478.dell-bare-metal-provisioning-3-0-automate-the-network).
We have a VM as well, I need to check with Dell EMC Marketing to how get you one.

[2016-11-30 15:09] #108 closed

[2016-11-30 15:09] bobbywatson3 commented on #106
This issue has been resolved with the apstra-packer tool.

[2016-11-30 15:09] #106 closed

[2016-11-30 15:10] bobbywatson3 commented on #53
@jeremyschulman this has been resolved, right?

[2016-11-30 15:11] jeremyschulman commented on #53
confirmed.  thank you.

[2016-11-30 15:11] #53 closed

[2016-11-30 15:23] jeremyschulman opened #122 "aeon-ztps ansible install enabled dhcp server, should not by default"
in lastest develop, the dhcpd server is enabled by default, even though the DHCP_enable variable is set to false.  This issue is likely a regression during on-going work of the install / build automation.

need to fix.

[2016-11-30 15:26] bobbywatson3 commented on #122
Just ran a vagrant up, and it is disabled:
[code]

[2016-11-30 15:27] jeremyschulman commented on #122
when built using the packer automation, it is enabled.

[2016-11-30 15:32] jeremyschulman commented on #122
I believe I see how this is working (properly).  my bad.

[2016-11-30 15:32] #122 closed

[2016-11-30 17:23] bobbywatson3 opened #123 "Determine cumulus device type by something other than hostname"
Right now, when a cumulus device boots up, the ztp server checks the hostname to determine the device type. Hostnames change, but device types do not. I suggest that we find a way to determine the device type based on dhcp options, or the headers that are sent when the ztp script is requested.

[2016-11-30 17:28] bobbywatson3 commented on #123
Updated to reflect the fact that this only affects cumulus devices. For Arista and Cisco devices, we are determining device type by the dhcp option "vendor-class-identifier"

[2016-12-01 01:03] jpsenior commented on #123
This is a technical limitation on the cumulus platform itself.  Cumulus has not implemented any 'vendor-class' identification features, even as late as v3.1.
An outstanding RFE is still in place at https://support.cumulusnetworks.com/hc/en-us/articles/201787676-DHCP-on-eth0-Does-Not-Send-Vendor-Data

Technically speaking Aeon-ZTPs could just send the cumulus-provision-url option directly - it'll b

[2016-12-01 01:07] jpsenior commented on #114
It seems burny's request is to add the following to the top of the vagrantfile.
`require 'yaml'`

[2016-12-05 14:41] jeremyschulman opened #126 "nxos-bootstrap backtrace when NXOS fails to respond"
When nxos-bootstrap is in the "AWAIT-ONLINE" state, and the device never comes online, the nxos-bootrap program raises:

[code]

The bug here on line 217 is to not do this:
[code]

[2016-12-08 23:40] jpsenior opened #127 "Add API for DHCP lease information"
It would be helpful to use an API for the DHCP lease information, if aeon-ztps is the DHCP server.

Three use cases:
a) using the API to list DHCP leases
b) using the API to flush dhcp leases (POST /api/dhcp/flush or similar)
c) using the API to abstract the web interface -- I have a future, not-fully-hatched-yet idea to change the web UI into an API client of ZTP for some fun ajaxy stuff later.

[2016-12-08 23:43] acarpi opened #128 "Provide build/version info file in the VM"
We should add a file (suggest /etc/aeon_vesion) containing build info about the Aeon ZTP VM. This could be useful when opening issues against Aeon-ztps.

An example could be something like this:

[2016-12-08 23:46] jpsenior commented on #117
@bobbywatson3 please add an API enhancement on this as well (additional field)

[2016-12-08 23:46] bobbywatson3 commented on #128
Good idea. Thanks @acarpi

[2016-12-08 23:47] jpsenior commented on #116
@bobbywatson3 my request for this as well is to send it to an 'uninstall' page with the device IP pre-filled: this way I can run the AOS uninstaller on a device that may not be currently registered to AOS.

I can write the UI part of this request if you've already started the uninstaller.

[2016-12-08 23:54] jpsenior commented on #128
Love this idea. Embed into UI as well.

Git hooks?

[2016-12-08 23:57] acarpi opened #129 "Remove unneeded boot services"
From the list of services automatically enabled at boot, I think we could remove at least  virtualbox-guest-utils (I think we shouldn't be packaging with virtualbox-utils in the first place since those are hypervisor/version dependent) and open-iscsi.

[2016-12-08 23:59] jpsenior opened #130 "Knob to globally disable automatic OS upgrade functionality"
In the field, we discovered that OS upgrade either did not work or was not desirable, all we wanted was 'finally' script to run.  This may or may not be a ZTP problem, but the customer request was to be able to selectively disable OS upgrades and ignore firmware version, passing control to finally scripts anyway.

[2016-12-09 00:01] jpsenior opened #131 "Knob to turn off remote APIs used after provisioning"
Customer request.
After the 'finally' script runs, look into options to disable unauthenticated device http api (eapi,nxapi,etc) and have this feature configurable easily somehow.  After ZTP pushes config, the customer doesn't want  the security risk these leave behind.

[2016-12-09 00:03] jpsenior commented on #129
Getting rid of cloud-init might be nice too.

[2016-12-09 00:04] jpsenior opened #132 "Rewrite web UI to be a REST API client of ZTP"
Currently web UI interacts directly with the sqlite database, lease information, etc.
Rewrite web UI to be an API client of ZTP itself, enforcing modularized design.

[2016-12-09 13:09] jeremyschulman commented on #130
@jpsenior - I _believe_ this can be accomplished by simply removing the os-selector.cfg file from the respective OS directory.  For example in /opt/aeonztps/etc/profiles/default/eos/os-selector.cfg.  I will doublecheck the code to confirm.  If this works this way, would this be acceptable?

[2016-12-09 13:10] jeremyschulman commented on #128
@acarpi - great idea, we'll definitely get this into the next spin.

[2016-12-09 13:12] jeremyschulman commented on #123
@bobbywatson3 - we should try @jpsenior suggestion.  I'll do this and report back.

[2016-12-09 13:13] bobbywatson3 commented on #123
@acarpi also stated that Cumulus switches may require different firmware images based on the chipset that they use. This is an unrelated issue, but it might not be a bad idea to see if that info is included in the DHCP options that are sent.

[2016-12-09 13:16] jeremyschulman commented on #127
@jpsenior - good suggestion.  I have actually started this work; so I'll reassign to myself.  Thank you.

[2016-12-09 13:20] jeremyschulman commented on #123
@bobbywatson3 (cc, @acarpi) - re: loading firmware based.  There is currently a mechanism to load different firmware based on the hardware model.  This is done via the "os-selector.cfg" file stored in within the "etc/profiles/.../<os-name>" folder.  Not sure if this mechanism addresses the issue; but please let me know.

[2016-12-09 17:28] #25 closed

[2016-12-09 20:03] acarpi commented on #128
@jpsenior  no need for git hooks, usually CI tools can expose those info as env variables and you just need to pass them down to your build scripts. I can share how we do it for AOS if needed.

[2016-12-10 01:01] jpsenior opened #133 "Don't upgrade a cumulus switch if the image is already installed."
@acarpi is asking for an enhancement to prevent upgrading a cumulus switch if the target image is already installed.  The problem is on every sanitize in the test environment, ZTP is performing a full reinstall of cumulus.  This should be avoided.

[2016-12-10 01:02] jpsenior opened #134 "Documentation and/or flexibility of os-selector.conf"
@acarpi requires multiple selection options to target image upgrades for specific platforms.  os-selector.conf should be able to detect the model name, image name, etc, and perform selective OS upgrades to specific platforms.

[2016-12-10 01:27] jeremyschulman commented on #133
@acarpi @jpsenior - the aeon-ztps system functions per your request, so this must be a setup related issue.  I am closing this ticket, and will follow up with @acarpi directly.

[2016-12-10 01:27] #133 closed

[2016-12-10 01:28] jeremyschulman commented on #134
@acarpi - the aeon-ztps functions in this manner, and I expect that I need to show you how this is done.  Closing this ticket.

[2016-12-10 01:28] #134 closed

[2016-12-14 22:16] jeremyschulman opened #136 "EOS bootstrap needs graceful init/check"
We have observed that the use the "--init-delay" value is not a good way to handle the reboot out of EOS ZTP process.  Therefore the eos-bootstrap program needs to handle this state change in a better way.  If this is not handled better the bootstrap will fail thinking that the device is operational when it is not.  Therefore this issue labeled as bug.

As a workaround, you can use the --init-dela

[2016-12-14 22:50] acarpi opened #137 "cumulus-bootstrap script relies on deprecated command"
Trying to use Aeon ZTP to upgrade from Cumulus 3.1.1 to Cumulus 3.1.2, the process failed in the bootstrap script.

Apparently, this command is not present in Cumulus 3.1.1

[code]
I opened a support case with Cumulus to understand what could be a suitable replacement.

cc @jeremyschulman

[2016-12-14 23:27] acarpi commented on #137
Got answer from cumulus, there is no way we can select the destination image from the provisioning script, since the concept of slot is deprecated in 3.x

The new (and backward incompatible) way to install an image is:
1. onie-select -rf
2. Reboot, the box will go in ONIE rescue mode
3. SSH into the box with the ONIE default credentials, root@<cumulus_ip>, no password
4. run onie-nos-install http:

[2016-12-15 18:47] bobbywatson3 commented on #128
This needs to be added during the build, so this should be resolved in apstra-packer. Also, we are not building OVA/QCOW2 artifacts on a CI build server. The builds happen on a laptop. @acarpi perhaps we could configure jenkins to do this upon code merge? Let's chat online when you have a chance.

I will leave this issue open to track accessing and displaying version/build info, but generating and

[2016-12-19 14:45] jeremyschulman commented on #129
@acarpi - we will track/manage this as part of the packing process; as done by a separate repo.  closing this issue.

@bobbywatson3 - please transfer this information to the appropriate packer related efforts.

[2016-12-19 14:45] #129 closed

[2016-12-19 14:48] jeremyschulman commented on #130
will investigate and proceed accordingly to comment made.

[2016-12-19 14:57] jeremyschulman commented on #118
@skg-net - looking forward to your reply on this topic, any update?

[2016-12-19 14:59] jeremyschulman commented on #117
closing ticket as AOS server provides this information.

[2016-12-19 14:59] #117 closed

[2016-12-19 15:03] jeremyschulman commented on #114
closing due to lack of information.

[2016-12-19 15:03] #114 closed

[2016-12-19 15:08] jeremyschulman commented on #116
closing this as it is AOS specific.

[2016-12-19 15:08] #116 closed

[2016-12-19 15:11] jeremyschulman commented on #45
@bobbywatson3 - this should be included on the "about" UI page; relative to the build information, other issue.  closing this one.

[2016-12-19 15:11] #45 closed

[2016-12-19 15:13] jeremyschulman commented on #23
closing this issue; duplicate of other issue tracking DHCP access via API.

[2016-12-19 15:13] #23 closed

[2016-12-19 23:37] skg-net commented on #118
@jeremyschulman I am yet to get the response from Marketing. I will get back to you on that.

Can you send me the WIP document you got, so that I can get started?

[2016-12-22 15:20] bobbywatson3 opened #142 "Flush DHCP does not flush DHCP"
When clicking "Flush DHCP" on the DHCP Leases page, the web UI reports that the DHCP leases were flushed, but they are not flushed.

Manually running the command "sudo /usr/local/bin/dhcpd-reset" will reset the DHCP leases.

Manually importing flush_dhcp() and running it will reset the DHCP leases (despite raising an exception that it cannot sudo the command.)
[code]

[2016-12-22 15:21] #113 closed

[2016-12-22 15:24] jeremyschulman commented on #142
@bobbywatson3 - this issue should be tracked as part of the others relating to DHCP API/controls.  I expect this issue will be fixed along with those.

[2016-12-22 22:59] jpsenior commented on #130
@jeremyschulman for usability we should have a method that allows us to turn this off easily instead of having to modify text files by hand

[2016-12-22 23:01] jpsenior commented on #128
@bobbywatson3 I build aeon-ztps with 'vagrant up' and not packer, which is tracked separately from this repo.  As a customer / external user of Aeon-ZTPs who may not use packer, do we have options where we can include build information in a 'vagrant up' or other build process that is not integrated with Apstra's internal CI pipeline?

[2016-12-22 23:01] bobbywatson3 commented on #130
It might be time to think about a "settings" page in the web ui to handle stuff like this.

[2016-12-22 23:03] bobbywatson3 commented on #128
Why would a customer need anything more than the ztps version number? For internal development, it is useful for us to know what particular branch and commit an OVA was built from, but for external use, all builds will be from master with a tagged release.

[2016-12-22 23:03] jpsenior commented on #75
@jeremyschulman can we expand os-selector.cfg to prevent this somehow?  Eg, disabled=True, with an explicit section mapping NXOSv as a model?  For example, your suggestion in https://github.com/Apstra/aeon-ztps/issues/130

[2016-12-22 23:08] jpsenior commented on #142
@bobbywatson3 also when i added the 'flush dhcp' button on the dhcp ui, i was still trying to figure out the most secure way to handle it in the back-end.  In lieu of killing myself over the feature I made it an empty hyperlink

[2017-01-03 19:24] bobbywatson3 commented on #137
@acarpi that process looks really gross to try to automate. Is that the only way?

[2017-01-11 15:59] bobbywatson3 commented on #137
@acarpi I'm working on this bug now. I think I may have found an easier process. I'll let you know how it goes.

[2017-01-20 21:40] bobbywatson3 commented on #137
I have fixed the issue and tested in slicer. I've also created a qcow2 image that @acarpi is testing.

[2017-01-20 23:18] acarpi opened #143 "exceptions.ProbeError should return original error message"
In bootstrap scripts, when we try to connect to the box after a given init-delay, I got the following error

[code]

Now, ProbeError can be raised for multiple reasons
- connection timeout (e.g. box is not up within a given time)
- connection refused (box doesn't have ssh service up)
- no route to host
- ...

I noticed under the hood the code is relying on socket.connect to check if the box is onl

[2017-01-24 13:52] bobbywatson3 commented on #143
I've moved this over to the aeon-venos repo since this bug relates to that codebase.

[2017-01-24 13:52] #143 closed

[2017-01-24 15:13] jeremyschulman commented on #143
I can fix this, as part of some other code enhancement I have in process.

On Jan 24, 2017 5:52 AM, "Bobby Watson" <notifications@github.com> wrote:

[2017-01-24 20:25] bobbywatson3 commented on #123
@jpsenior The cumulus-provision-url option worked. This issue is resolved. Thanks!

[2017-01-24 20:58] bobbywatson3 opened #145 "ztp-cumulus checks oldest DHCP lease for provision_url"
DHCP leases are added to /var/lib/dhcp/dhclient.eth0.leases from top to bottom, with the newest being on the bottom. Currently, ztp-cumulus.sh checks for the provision url in the top (oldest) dhcp lease. If the provision url was incorrect in that lease, and then later updated on the DHCP server, ztp-cumulus.sh would still use the old and incorrect provision url in the first lease.

ztp-cumulus.sh

[2017-01-24 20:58] bobbywatson3 commented on #145
Thanks for pointing this out, @acarpi

[2017-01-24 20:59] bobbywatson3 commented on #145
Code that needs to be updated to search from bottom of file backwards:

`provision_url=$(grep -m1 'cumulus-provision-url' /var/lib/dhcp/dhclient.eth0.leases | awk -F "/" '{print $3}')`

[2017-01-24 21:01] bobbywatson3 commented on #145
@acarpi suggested this instead:

`cat /var/lib/dhcp/dhclient.eth0.leases | grep 'cumulus-provision-url'| tail -1 | awk -F "/" '{print $3}'`

tail -1 will pick the last one

[2017-01-25 00:46] acarpi commented on #145
Thank you for fixing this!

[2017-01-26 02:39] acarpi opened #146 "In os-selector.cfg, can I have a way to get a device-specific matching?"
Right now matching is based on either hw_model or default, e.g.

[code]

I would need a way to match a specific device, e.g. based on mgmt mac address or serial number. Ideally, any fact reported by the device could be a potential source for matching.

Thanks!
Ale

[2017-01-26 04:17] jeremyschulman commented on #146
I would propose doing something like the following:

[code]

would that be OK?

[2017-01-26 18:44] bobbywatson3 commented on #146
@acarpi I am working on this now. Here is the os-selector syntax I have in mind. Note that multiple criteria will be able to be used to match against a device.

[code]

[2017-01-26 19:54] acarpi commented on #146
@bobbywatson3  @jeremyschulman  looks good to me, thanks!

[2017-01-27 16:44] jeremyschulman commented on #146
@bobbywatson3 - looks awesome, thank you for picking this up and running with it!

[2017-01-27 16:45] jeremyschulman commented on #146
@bobbywatson3 - when you make these changes, could you *also* please create a set of automated unit tests?  I know we are sorely lacking in this area; and this would be a good place to get started.  thank you!  cc/ @acarpi

[2017-01-27 17:12] bobbywatson3 commented on #146
Sure. @acarpi already has an image with this updated build, so creating unit tests will not impede his progress.

[2017-01-27 20:41] #145 closed

[2017-01-27 20:41] bobbywatson3 commented on #137
Resolved in #144

[2017-01-27 20:41] #137 closed

[2017-01-30 14:22] bobbywatson3 commented on #146
@acarpi Did this new build provide the functionality that you were looking for?

[2017-02-01 14:21] bobbywatson3 commented on #146
@acarpi said the fix is working.

[2017-02-01 14:21] #146 closed

[2017-02-01 14:23] bobbywatson3 commented on #130
Could potentially add an "upgrade: False" line to the os-selector file, and the ztp-os-selector.py file could skip any upgrades if that line is found.

[2017-02-01 14:26] bobbywatson3 commented on #123
Resolved in #144

[2017-02-01 14:26] #123 closed

[2017-02-01 14:29] jeremyschulman commented on #61
@bobbywatson3 - for next release, we need to at least fix the code so the backtrace issue is resolved.  this won't fix the issue reported; but need to make sure the code traps/reports correctly.

[2017-02-01 19:47] acarpi opened #147 "Failure in 'finally' script does not cause state to be reported as FAILED"
In my Aeon ZTP profile (vEOS), a finally script is attempting to install AOS device agent and EosSdk.

The FINALLY stage fails because I mistakenly forgot to add the EosSdk file in the proper location, however the state doesn't move to "FAILED" afterwards.

2017-02-01 18:56:17,919:ERROR:172.20.222.13:Error [1000]: CLI command 3 of 3 'copy http://172.20.222.4:8080/images/eos/EosSdk-1.8.1-4.16.6M.i6

[2017-02-01 21:14] acarpi opened #148 "Aeon ZTP reports model "Cumulus-VX" for Ubuntu VMs"
Trying to use Aeon ZTP to provide the 'finally' script only (no os-selector.cfg), the GUI reports the wrong hw model. See screenshot.

<img width="1289" alt="screen shot 2017-02-01 at 1 12 16 pm" src="https://cloud.githubusercontent.com/assets/528719/22526468/403dadce-e880-11e6-874a-8943060404f7.png">

[2017-02-02 03:07] jpsenior commented on #58
@acarpi - per our conversation on Slack, we may have run into this issue again (Two separate issues) - not enough diagnostic output, and The SSH connection itself to the device may be timing out.

[2017-02-02 03:12] jpsenior opened #149 "Arista EOS EAPI Timeouts during ZTP process"
EOS SSH Connections may possibly time out during device provisioning with cryptic error messages.

Seen in Apstra internal testing with @acarpi and in the field in customer environments with @jpsenior.

We see this regularly as well with virtualized topologies (vEOS) and slow CPU where EOS takes way too long to boot or too long to reply to commands.

Similarly related to #58 - but adding a separat

[2017-02-03 19:29] acarpi opened #151 "[NXOS] Process stuck in AWAIT-SYSTEM-READY"
Using Aeon ZTP on a Cisco 9332PQ box, system is stuck in AWAIT-SYSTEM-READY.

[code]
Looks like the check logic is based on having a file in volatile:system_ready but under certain condition this file is not created as expected.

the system_ready file creation is generated via event manager looking for patterns in syslog
[code]

However, using the 'show logging' command I can see the entry there.

[2017-02-03 22:31] jpsenior opened #152 "Log view page checkboxes do not populate by default when viewing 'all logs'"
On the log browser, the checkboxes do not populate by default when viewing 'all logs'.

The embedded jquery on the page may need a tweak.

[2017-02-04 00:53] acarpi commented on #58
if we simply don't wrap the self.eapi.execute with a try...except CommandError the stacktrace gives you more context.

[2017-02-05 09:09] acarpi commented on #58
I kindly suggest in aeon/eos/connector.py:38, to not do this
[code]

but simply raise the original exception removing the try...except envelope. I found the original exception to be more descriptive and helped me resolve the real underneath issue, for which I submitted already a PR. Thanks!

[2017-02-05 09:30] acarpi commented on #126
I have a simple fix for this issue, but the root cause is that sometimes it fails in the do_push_config1 function for this reason

2017-02-05 09:17:03,066:INFO:172.20.232.5:pushing all config to device
2017-02-05 09:17:07,857:CRITICAL:172.20.232.5:unable to push config: % Invalid command

the 'all.conf' config has simply 'service unsupported-transceiver'.

[2017-02-05 09:42] acarpi commented on #126
Submitted the fix in PR#153

[2017-02-05 20:38] jeremyschulman commented on #58
@acarpi - thank you.  given you've submitted the PR, I will close this issue here.

[2017-02-05 20:38] #58 closed

[2017-02-05 21:47] acarpi commented on #58
@jeremyschulman  the PR doesn't fix the issue in aeon/eos/connector.py:38,  but the root cause triggering this exception. CommandError still raises without providing details, but this issue should probably be moved to the aeon-venos project being connector.py part of that library?

[2017-02-06 15:24] jeremyschulman commented on #58
@acarpi - agreed.  I've asked @bobbywatson3 to resolve this in the aeon-venos repo.

[2017-02-06 18:51] #126 closed

[2017-02-06 18:51] #149 closed

[2017-02-06 18:53] bobbywatson3 opened #154 "Write unittests for bootstrap scripts"
Write unittest scripts for the following bootstrap scripts:

- cumulus-bootstrap
- nxos-bootstrap
- eos-bootstrap
- ubuntu-bootstrap

[2017-02-06 18:53] bobbywatson3 opened #155 "Write unittest for aztp-os-selector"
Write unit tests for aztp-os-selector

[2017-02-06 18:54] bobbywatson3 commented on #136
@acarpi Did your latest PR resolve this issue?

[2017-02-06 18:59] acarpi commented on #136
As a side effect I believe yes. I guess the current init-delay value is 60s, which is good for me, and still my retry logic kicks in, so I guess this issue is taken care as well.

[2017-02-06 19:00] #136 closed

[2017-02-07 01:00] #151 closed

[2017-02-07 01:06] bobbywatson3 commented on #58
Resolved.

[2017-02-07 16:57] bobbywatson3 commented on #147
I have a fix for this in my next PR

[2017-02-07 23:05] bobbywatson3 commented on #147
Fixed in #157

[2017-02-07 23:05] #147 closed

[2017-02-07 23:10] bobbywatson3 commented on #61
I don't know if this issue exists anymore. With PR #157, the ztp process will still attempt to run if the device is in an errored state.

So if you kick off the ztp process, and there is an issue that puts it in an errored state, the next time you attempt a ztp boot, it will let it run again.

[2017-02-08 15:38] bobbywatson3 commented on #61
I just duplicated this, with the following steps:

1. Fresh EOS, not in ZTPS DB, write erase, reload
2. Device boots, but executing finally script failed due to EosSdk being unavailable on ZTPS.
3. Copy EosSdk to correct location on ZTPS
4. write erase and reload EOS switch (device was still in ERROR state in ZTPS. The device was not removed)
5. EOS device boots into ZTP mode and completes success

[2017-02-08 15:38] #61 closed

[2017-02-08 18:48] bobbywatson3 commented on #128
Resolved

[2017-02-08 18:48] #128 closed

[2017-02-10 23:19] #73 closed

[2017-02-10 23:19] #74 closed

[2017-02-10 23:19] #75 closed

[2017-02-15 01:50] acarpi opened #161 "Concurrent GETs to /api/devices can get HTTP Error 500"
When Aeon ZTP API is dealing with multiple concurrent requests I get error 500

[code]

[2017-02-15 01:53] acarpi opened #162 "[Cumulus bootstrap] on Mellanox, bootstrap script fails due to parsing error"
Stacktrace from bootstrap.log

[code]

Error is probably due to missing key in decoded-syseeprom output, which for Mellanox looks like this
[code]

[2017-02-15 14:00] bobbywatson3 commented on #162
This was resolved in aeon-venos 0.3.3

[2017-02-15 14:00] #162 closed

[2017-02-22 19:50] jpsenior opened #167 "Web UI Log page fails to show any entries if one log file is missing"
Web UI Log page fails to show any entries if one log file is missing

Eg, if I want to view 'all' logs, and bootstrapper log is missing, no other logs show.

[2017-02-22 19:56] jpsenior opened #168 "Mellanox SN2000 Cumulus license installation failure"
Discussed with @bobbywatson3  - I will try to add troubleshooting information to this issue as soon as I can aquire logs, but license installation on Mellanox SN2000 cumulus switches failed with the ZTP scripts.

[2017-02-22 19:58] jeremyschulman commented on #168
@jpsenior - ok, look forward to more information.

[2017-02-22 19:59] jeremyschulman commented on #161
@acarpi - could you please provide more context; i.e. how many concurrent requests in which timeframe ? for example, 2 attempts in 5 seconds?  That would be helpful.  Thank you.

[2017-02-22 20:08] bobbywatson3 opened #169 "AOS specific config in ztp-cumulus.sh"
AOS specific configuration is in the ztp-cumulus.sh script that is called when cumulus-provision-url in DHCP options. This should be moved to the finally script in aos-aeonztps-addons.

[code]

[2017-02-23 00:29] jeremyschulman commented on #169
@bobbywatson3 - I am ok with this; but let's sync up offline re: some other changes proposed before we make this happen.  Thank you.

[2017-02-28 15:24] #155 closed

[2017-03-02 21:29] acarpi commented on #168
problem is in ztp-cumulus.sh, we need to swap order between install_license and enable_mgmt_vrf .  Problem is the script should have failed, I'll keep looking

[2017-03-02 21:46] jpsenior commented on #168
The wget fails as the management VRF is created within the bash script.  VRF context of the bash script has no visibility into the management VRF by the time install_license kicks in, and we can't change context of running scripts.

A simple fix is to just ensure license is installed first before applying management vrf

[2017-03-02 21:50] jeremyschulman commented on #168
I believe the VRF setup should likely be removed from the ztp-cumulus.sh and moved to the "user specific" finalize step.

[2017-03-07 19:17] bobbywatson3 commented on #168
resolved in #174

[2017-03-07 19:17] #168 closed

[2017-03-07 19:18] bobbywatson3 commented on #154
Complete

[2017-03-07 19:18] #154 closed

[2017-03-07 22:58] acarpi commented on #161
Sure, this issue happened in our systest infra. Given a topology, when we issue a 'sanitize' command, this is spawning concurrent processes each taking care of triggering ZTP on a single DUT. In particular, we do the following

- remove the entry for that device from /api/devices, doing a DELETE /api/devices?ip_addr=<ip>
- write erase; reload
- GET /api/devices polling until the state is "DONE".

[2017-03-07 23:06] jpsenior commented on #161
Guys, I believe this is implicit limitation of SQLite.  SQLite will block _all_ transactions including select if the database is locked for writing for any reason.  I've seen the same issues in our systest infra and some other network labs I have been building.  SQLAlchemy does enforce concurrency in a thread module by ensuring only one process has access to the database at the same time (reads, w

[2017-03-07 23:12] bobbywatson3 commented on #161
SQLAlchemy supports PostgreSQL. Should be trivial to swap it out on the back end. We'll get that in the next release.

Bobby

On Mar 7, 2017, 6:06 PM -0500, jpsenior <notifications@github.com>, wrote:

[2017-03-08 13:57] jeremyschulman commented on #161
agreed that we should migrate to PostgreSQL.   Please open new ticket for that request; close/link this one.  Thank you.  @bobbywatson3

[2017-03-10 02:13] dgarros commented on #118
Hi @skg-net

Following our discussion yesterday
I checked with @bobbywatson3 and we don't have a developer guide yet but it's high on Bobby's Todo list so hopefully we'll have something in 2-3 weeks.
Thanks for your patience, we are looking forward to add OS10 support on the ZTP server

Damien

[2017-03-10 03:45] skg-net commented on #118
Thanks @dgarros

[2017-03-12 22:36] mmihir82 opened #179 "How to apply DHCP reservation IP per mac"
Hello All,
I'm new to using Aeon-ZTP server. But I think this will help me to check which switch is ready. Its a great place for me to start.
What I have currently setup in our environment:
I'm running DHCP server with IP reservation by mac addr of the Cumulus Switch. So that when a Switch boots up grabs the IP via MAC address, then installs OS via ONIE and then run ZTP script which creates ansibl

[2017-03-12 23:04] jeremyschulman commented on #179
Hi @mmihir82 - Thank you for your interest and use with Aeon-ZTPS.  I will try to answer your questions.

The way I read your question, there are two parts:
1) setup of DHCP server
2) setup of Aeon-ZTPS to trigger Ansible playbook.

I'd like to tackle these separately.  I'll start with (2) because it's the easiest.  What you will need to do is the following:  on the aeon-ztps server, go to the dir

[2017-03-12 23:07] jeremyschulman commented on #179
@mmihir82 - also; the default ztp-cumulus.sh script is here:
[https://github.com/Apstra/aeon-ztps/blob/master/ztp-scripts/ztp-cumulus.sh]

So if you want to change the default login username or password (currently: admin/admin), you can make your customizations there.  The file should be installed on your Aeon-ZTPS here:

[code]

[2017-03-13 05:33] mmihir82 commented on #179
Wonderfull Jeremy, Thanks for answering.
To be clear, the file os-selector.cfg, I can add Mac-address with IP
Address? If so, Can you provide the example? thanks.

On Sun, Mar 12, 2017 at 4:07 PM, Jeremy Schulman <notifications@github.com>
wrote:

[2017-03-13 14:00] jeremyschulman commented on #179
@mmihir82 - the os-selector.cfg file is used to tell Aeon-ZTPS which NOS version (i.e. Cumulus Linux version in this case) to ensure is installed on the device.  It does not control the IP address assignment.

I am assuming that you have an existing DHCP server that you are currently using for your IP address assignment.  You can continue to use it in the same way.  You will need to update your DH

[2017-03-13 15:23] mmihir82 commented on #179
Thanks Jeremy for explaining.. make sense now...

how to restart aeon-ztp server so that the web is been refreshed?

Thanks looking forward for the help doc.

Mihir M

On Mon, Mar 13, 2017 at 7:00 AM Jeremy Schulman <notifications@github.com>
wrote:

[2017-03-13 18:54] jeremyschulman commented on #179
@mmihir82 - if you are looking for a way to clear the Aeon-ZTPS database, from what you see on the UI page, you can login to the aeon-ztps and run the command:

[code]

[2017-03-15 00:43] darien-hirotsu commented on #118
@jeremyschulman @dgarros - Hi! My coworkers and I have done quite a bit of work with OpenClos (ZTP) and Junos. In that vein, do you have Junos integration yet, and if not, are you looking for some community support? We have access to EX4300's and QFX5100's in our lab if that would help. Our team would love to contribute and participate in the alpha if that would be useful.

[2017-03-15 11:41] jeremyschulman commented on #118
@darien-hirotsu - Thank you for your interest and offer!  We would love the community support on the EX and QFX Junos product lines.  I'll talk with the team today and ask someone to follow up!

[2017-03-15 19:10] mmihir82 commented on #179
Hello Jermey,
Thanks for the info.

I don't get any DHCP offering...

My Current Running setup:
MacMini (running Ubuntu) >> running dhcp server >> all the switch gets the
ip thru reservation.

Using Aeon ZTP server:
MacMini (Mac OX) >> running vagrant with virtualbox with ETH1 ip
192.168.59.254 >> connected directly to the switch mgmt port... no dhcp
offering..
MacMini Physical ETH0: 68.140.xx.xx

[2017-03-16 15:47] vnitinv opened #181 ""vagrant up" throws "NameError: uninitialized constant YAML""
[code]

[2017-03-17 05:36] vnitinv opened #183 "user credentials for VirtualBox image"
I have created VirtualBox image referring http://aeon-ztps.readthedocs.io/en/latest/installation-guide/installation-guide.html#install-via-virtualbox

I am being prompted to enter user/password. Can't find any details in the documentation about this.

[2017-03-17 13:44] bobbywatson3 commented on #183
The login is admin/admin. I will update the docs to include that.

[2017-03-17 13:45] #181 closed

[2017-03-17 14:03] bobbywatson3 commented on #183
Also, if you're using vagrant, you don't need credentials. Just type `vagrant ssh`. I will add that to the documentation as well.

[2017-03-17 14:42] #183 closed

[2017-03-21 22:49] ericdong66 opened #185 "eos dns ztp issue"
after zeon ztp, mgmt port is moved to mgmt vrf, but dns is still configured under default vrf.

[2017-03-21 22:50] bobbywatson3 commented on #185
Thanks Eric. I'm going to open a PR tomorrow and I'll add the fix for this as well.

[2017-03-21 23:16] ericdong66 commented on #185
I can work on it if you wish, but I need some guide about how to fix this,
and what kind of test I should run before submit PR, let me know, thanks

On Tue, Mar 21, 2017 at 3:50 PM, Bobby Watson <notifications@github.com>
wrote:

[2017-03-22 01:27] bobbywatson3 commented on #185
The code for this is in ztp-scripts/ztp-eos.sh. Unfortunately, we don't have any unit tests for the bash scripts. What you could do is deploy an environment in slicer, copy over the new ztp-eos.sh with the fix to the aeon-ztps server, and run a slicer sanitize to see if the issue is resolved.

[2017-03-22 04:52] ericdong66 commented on #185
sending a untested patch, run out of time to test and pull pr.

diff --git a/ztp-scripts/ztp-eos.sh b/ztp-scripts/ztp-eos.sh
index 9513d31..05ff4be 100755
--- a/ztp-scripts/ztp-eos.sh
+++ b/ztp-scripts/ztp-eos.sh
@@ -29,6 +29,7 @@ SERVER_PORT=8080
 # ----------------------------------------------------

 DHCP_SUCCESS=$(grep -m1 DHCP_SUCCESS /var/log/messages)
+NAME_SERVER=$(grep -m1 nameserver /va

[2017-03-22 07:06] vnitinv opened #186 "Installation through Ansible fails"
While installing via Ansible, it hangs at task "aeon-ztp-server : copy aeon-ztp source files over" for very long

[code]

It takes very long to complete this task.
For me the run fails at task "aeon-ztp-server : copy installer files onto aeon-ztps"

[code]

[2017-03-22 16:46] bobbywatson3 commented on #186
The copy aeon-ztp source files task took around 5 min for me. Not ideal, but it does complete successfully. We can add a warning to the task description that will let users know that the task is a long running one.

As far as the failure to copy the files, I noticed that you're being prompted for a password for that task. I have never seen that before. How are you running the installer? I assume y

[2017-03-22 17:07] vnitinv commented on #186
@bobbywatson3 I am not using Vagrant. I am running this playbook on my mac laptop and installing things on separate ubuntu 16.04 (VM in lab).

[2017-03-22 17:09] bobbywatson3 commented on #186
Since you are being prompted for a password, have you tried both the SSH password, and the sudo password? It looks like an authentication issue. Can you run the playbook with "-vvv" to see more verbose output?

[2017-03-22 19:38] bobbywatson3 commented on #179
Is the dhcp server running in the vagrant box? Can other devices on your network ping the IP of the ztps server? Are you seeing any incoming DHCP requests in the syslog of the DHCP server?

[2017-03-23 06:49] vnitinv commented on #186
Below is the debug log
[code]

[2017-03-23 06:56] vnitinv commented on #186
Also if I try to run below command directly, get the error

[code]

[2017-03-23 12:26] bobbywatson3 commented on #186
It looks like the user "regress" does not have the correct privileges. Our playbooks assume that they are being run by "admin" which has all of the correct permissions setup on the target VM as part of the playbook. If they are run inside vagrant, using the `vagrant up` command, they are run as the vagrant user which is also configured with the correct permissions.

Can you try running the playboo

[2017-03-23 12:48] bobbywatson3 commented on #186
Updated my previous comment.

[2017-03-24 06:51] vnitinv commented on #186
I am fine as of now. As the installation got completed. @bobbywatson3 I am trying to add Juniper's ZTP support to this framework, with my very limited knowledge of ZTP. Whom can I write to in case of any basic queries? Or do you want me to raise the issue for such newbie queries?

[2017-03-24 09:23] bobbywatson3 commented on #186
Right now github issues are our best way of tracking questions. Please feel free to ask no matter how newbie you feel they may be.

I'm going to be writing a guide on how to add support for additional network operating systems to aeon-ztps within the next couple of weeks.

I'll close out this issue. Please create another if you have any more questions.

[2017-03-24 09:23] #186 closed

[2017-03-27 19:02] acarpi opened #187 "Provide a way to select different 'finally' script from OS selectors"
Hi,

it would be nice having the possibility to select different finally scripts from os-selector.cfg. Something along these lines

[code]

[2017-03-27 19:10] acarpi commented on #187
Also, I was wondering if If I can have a 'null' option so I can decide to run the finally script or not in the first place. Thanks!

[2017-03-28 15:10] bobbywatson3 commented on #185
Thanks @ericdong66 , that patch worked.

[2017-03-28 15:42] #185 closed

[2017-03-28 22:46] acarpi opened #189 "Aeon ZTP fails to install Cumulus license"
Hi,

on a Cumulus physical box (tested on a Celestica Redstone XP) Aeon ZTP is failing to install the license as part of the autoprovisioning script ztp-cumulus.sh

The root cause is this condition
[code]

which always tests negative, so the license installation was never executed. The check should rather be if [[ -n is_cumulus_vx ]]

[2017-03-29 17:29] bobbywatson3 commented on #189
Resolved by #190

[2017-03-29 17:29] #189 closed

[2017-03-29 19:01] acarpi opened #191 "Add ability to write match criteria based on device IP address"
From this doc:

http://aeon-ztps.readthedocs.io/en/latest/getting-started-guide/getting-started-guide.html#group-policy-ztp

looks like I cannot write match rules based on IP address. It would be nice if the device IP address is one of the "facts" supported.

[2017-04-07 16:11] jpsenior opened #193 "Documentation update request: Example stdout of boot process"
When troubleshooting ZTP issues, it would be helpful to have examples of working bootstrapper.log and console stdout on the devices we support, allowing the user to compare and contrast the log entries they see and compare to a known working bootup sequence.

[2017-04-07 23:23] bobbywatson3 opened #194 "ztp-cumulus.sh fails if cumulus license is not found"
If a license file is not found on the ztps, ztp-cumulus.sh fails, but the ztps server is unaware and continues with ztp process. If possible, the ztp process should halt and an error should be raised.

[2017-04-07 23:35] #187 closed

[2017-04-07 23:35] #191 closed

[2017-04-10 02:44] acarpi opened #195 "mac_address missing in device facts for vEOS"
Hi,

I haven't verified yet for physical appliances, but at least for virtual EOS I see device facts missing, as such using this field for 'match' rules in os-selector.cfg is returning a KeyError

[code]

This is the os-selector.cfg file I'm using
[code]

[2017-04-11 13:07] bobbywatson3 commented on #195
This issue is resolved in Apstra/aeon-venos#21

[2017-04-11 13:07] #195 closed

[2017-04-11 13:07] bobbywatson3 commented on #179
Please let us know if there's anything else we can do to help. Otherwise we'll close this issue in the next 24hrs.

[2017-04-11 16:56] bobbywatson3 commented on #161
I tried duplicating this with concurrent post/delete/get scripts all running at the same time, but I was unable to. I'd like to be able to reliably duplicate this before I begin any work. @acarpi do you have a test you can share?

[2017-04-11 17:50] mmihir82 commented on #179
Hello Bobby,
Sorry, I have not had time to work on the ZTP server.. I will work on it
what you have suggested. If I run into the error, I can msg you back.

On Tue, Apr 11, 2017 at 6:07 AM, Bobby Watson <notifications@github.com>
wrote:

[2017-04-11 17:57] #179 closed

[2017-04-11 17:59] bobbywatson3 commented on #148
resolved in Apstra/aeon-venos#18

[2017-04-11 17:59] #148 closed

[2017-04-11 19:54] acarpi commented on #161
@bobbywatson3  I'll follow up on this issue and try to give you a script to reproduce this issue by the end of the week.

[2017-04-18 03:03] mmihir82 opened #196 "ztp-cumulus bootstrap not working"
Hello All,
I have installed the ztp server, as follow: VirtualBox > ubuntu OS installed. Using only one NIC ETH0, which is accessible within the internal network. I'm using Dell S4048, the switch is able to get the DHCP IP and able to installed cumulus OS using ONIE. But I don't see anything in the "ZTP Status"

I'm missing bootstrap? how to configure it?

Thanks
Mihir M

[2017-04-18 13:19] bobbywatson3 commented on #196
Do you already have a DHCP server and ONIE server setup on the same network in addition to the ZTPS server?

AEON-ZTPS can either act as the DHCP server, or it can work with an external DHCP server. Either way, the DHCP conf should look similar to the example config file located here. https://github.com/Apstra/aeon-ztps/blob/master/install/roles/dhcp-server/files/aeon_ztps_example_dhcpd.conf

[2017-04-18 21:02] mmihir82 commented on #196
Hello bobby,
DHCP and ONIE are configured base on the example you provided, but I had to modified based on my requirement.
Here is what my dhcp looks like:
**DHCPD.CONF**
[code]
ONIE file
[code]
I don't see any logs for bootstrap. Do I need to create bootstrap file for cumulus?

[2017-04-18 21:31] bobbywatson3 commented on #196
You will not need an ONIE server with AEON-ZTPS. You will not see bootstrap log entries if the switch does not download and execute ztp-cumulus.sh. In order to remove your DHCP server from troubleshooting, you can try manually invoking ztps from the cumulus switch itself. Type the following at the command line:

Cumulus 3:
`sudo ztp -v -r http://10.50.20.200/downloads/ztp-cumulus.sh`

Cumulus 2:
`

[2017-04-19 04:48] mmihir82 commented on #196
Hi
I run the command you provided..
[code]

[2017-04-19 04:49] mmihir82 commented on #196
still, don't see in the ZTP status page

[2017-04-19 12:50] bobbywatson3 commented on #196
That is not the output from our ztp-cumulus.sh script. Is 10.50.20.200 the IP address of the AEON-ZTPS server?

[2017-04-19 17:02] mmihir82 commented on #196
correct

[2017-04-19 17:05] bobbywatson3 commented on #196
The ztp-cumulus.sh file that is being run by your device is not the ztp-cumulus.sh file that is used by aeon-ztps. If you want to have aeon-ztps perform the ZTP process, that aeon-ztps specific file has to be run.

aeon-ztps should be on its own dedicated VM. You might have something else running at 10.50.20.200 that is serving up the wrong ztp-cumulus.sh file.

[2017-04-19 22:40] mmihir82 commented on #196
Hello Bobby,
Only "ztp-cumulus.sh" is been using is from the dhcpd.conf file... so i remove it from their? In order to use AeonZTP? also like to run ansible role once the Switch is done installing OS.

[2017-04-21 22:44] acarpi commented on #161
Hi,

I was able to dig a little bit more the problem, and I isolated the issue in the following steps that we are doing as part of our ZTP process in our testing infrastructure.
1. In our sanitize scripts, we poll Aeon ZTP status for a box until its shows DONE
2. we trigger ZTP from a cumulus box, this invokes the /register/cumulus API at some point.

So it seems like the problem is associated wit

[2017-04-28 12:04] bobbywatson3 commented on #196
The dhcpd.conf file must be pointing to the ztp-cumulus.sh file that is a part of aeon-ztps. It looks like you are using a different ztp-cumulus.sh file, so the aeon-ztp process will never begin.

[2017-05-05 17:53] mmihir82 commented on #196
Hello Bobby,
Able to install and AeonZTP server successful. I can see those devices in status page. Thanks

Question:
Is there any way to securely execute the ansible-playbook using ZTP Server base on Hostname?
I have roles base on Function of the device. This would be really helpful to complete the automation.

Thanks
Mihir M

[2017-05-10 12:07] bobbywatson3 commented on #196
Glad to hear you got it working.

I don't understand what you're asking about running the ansible playbook. Can you elaborate?

[2017-05-18 06:41] basilsaji-rtb commented on #118
@jeremyschulman  @bobbywatson3 Is this document available?

[2017-05-18 18:17] bobbywatson3 commented on #118
We had other things come up, and the developer guide has been de-prioritized, so we do not have anything to share at this time.

Having said that, I'd be glad to work with you to help out however I can.

[2017-05-30 21:38] bobbywatson3 commented on #196
No response in three weeks. Closing issue.

[2017-05-30 21:38] #196 closed

[2017-05-30 21:40] bobbywatson3 opened #199 "OS Upgrade to EOS 4.18 Failing"
When upgrading from EOS 4.16 to EOS 4.18, the file is unable to be copied. Might be a bug with the eAPI retry. It was instant in this output. but usually takes a minute or so.

[code]

[2017-06-12 21:34] bobbywatson3 opened #204 "OS upgrade does not provide error message if image is missing"
When an upgrade is required, but the image is missing, the device will enter an errored state, but a descriptive error message is missing.

[code]

[2017-06-13 15:55] #204 closed

[2017-06-20 16:44] bobbywatson3 commented on #169
Resolved in #207

[2017-06-20 16:44] #169 closed

[2017-07-17 13:19] #161 closed

[2017-09-06 17:36] jpsenior opened #213 "Extend os-selector type functionality for dhcpd.conf"
We have a customer request to extend DHCP lease functionality for the default-url when upgrading/installing ONIE-based images.

We needed a selector criteria to separate broadcom and mellanox based cumulus switches in dhcpd.conf.

For example:

[code]

[2017-10-25 19:43] jpsenior opened #223 "os_selector.cfg for EOS does not support mac_address"
Was testing Aeon ZTPs today with a custom os_selector to do a targeted upgrade of a switch.

os_selector.cfg
[code]

This profile never matched.

Looking at aeon_ztp/bin/eos_bootstrap.py, I see that mac_address is not posted.
[code]

The documentation specifies the following are available as os_selectors:
[code]

The documentation also shows examples of device facts used with mac addresses:

[code

[2017-10-25 20:04] jpsenior opened #224 "os-select with YML file does not fail ZTP process"
I had a tab instead of spaces in os-selector.cfg.

ZTP marked the process as done (Green). It should have failed.

The bug is that this particular error message outputs 'stdout' and not 'stder' so os-select passed and ZTP thought it was completed.

[code]

[2017-10-25 20:08] jpsenior commented on #223
Works as expected.  mac_address had to appear exactly as 'device facts' registered (ab:cd:ef..)

[2017-10-25 20:08] #223 closed

[2017-10-25 20:11] jpsenior opened #225 "Normalize MAC addresses in os_selector logic"
The os_selector logic should accept multiple forms of MAC address: eg 'ab:cd:12:34:ab:cd', 'abcd.1234.abcd', 'ABCD1234ABCD'

This will allow device facts from the OS to come in whatever flavor that the ztp plugin provides, as well as allow the end-user to import whatever format of MAC address they want in the os-selector.cfg file.

This will help the end-user experience.

These should be all be va

[2017-10-25 20:49] jpsenior opened #226 "EOS - Validate firmware images before attempting upgrade"
During the EOS bootstrap process, we should validate the upgrade process before going through with it.

* Ensure the SWI exists on the Aeon-ZTPs webserver if an upgrade is pending
* Ensure the filesystem has enough space for the SWI to be instaled (plus .boot-image.swi)

If either of these tests fail, abort and fail the ZTP upgrade process and post an ERROR to the API with pertinent details.

cc @

[2018-02-26 21:06] bobbywatson3 opened #230 "Celery service takes several minutes to start after reboot"
After building the VM, celeryd will take several minutes to start. During this time, web requests to the ZTPS will time out.
[code]

[2018-03-07 19:34] skg-net commented on #118
@bobbywatson3 @jeremyschulman Can you please let me know if the developer guide is available?

[2018-03-08 19:07] bobbywatson3 commented on #118
We still do not have a developers guide unfortunately. My advice would be to use the existing device code as a template, and please feel free to reach out to me directly if you'd like help or a quick overview.

[2018-03-08 19:08] #118 closed

[2018-03-14 18:43] Ragsboss opened #231 "OS selector not working as expected"
I have selector config as worked

[code]

But still ZTP chose 4.16

[code]

[2018-05-08 02:01] wannansible opened #236 "wget not working on CentOS deployment"
I'm working on deploying Ansible for automation on a CentOS server. I'm using aeon-ztp server to act as a ZTP and DHCP tool. I'm seeing the following error when I try to wget the installer file or when the DHCP server tries to serve the file to a DHCP request.

`May  7 05:34:58 hostname uwsgi: [2018-05-07 05:34:58,661] ERROR in app: Exception on /vendor_images/onie-installer [GET]
May  7 05:34:58

[2018-07-12 22:04] smolz opened #238 "Installation Failing on "TASK [dhcp-server : Install DHCP configuration file]""
Getting the error:
[code]

[2018-07-19 13:35] komatek21 opened #240 "Deploying cumulus linux 3.6.1 failed"
Hi,

First, thanks for your work shared there.
I'm encountering some issue with the try of provisioning CL 3.6.1 on a Supermicro switche.
ONIE doesn't seem to take into account what is given through the embeded isc-dhcp-server.

ONIE  try to download (as expected) the file declared the default url option " option default-url = "http://10.10.10.254/images/cumulus/onie-installer"; " But this is a no

[2018-07-19 13:40] komatek21 commented on #240
with an installed version of 3.6.1 the test :
sudo ztp -v -r http://10.10.10.254/downloads/ztp-cumulus.sh
return :
``Attempting to provision via ZTP Manual from http://10.10.10.254/downloads/ztp-cumulus.sh

Broadcast message from cumulus@cumulus (ttyS1) (Sun Jan  8 23:39:37 2017):

ZTP: Attempting to provision via ZTP Manual from http://10.10.10.254/downloads/
ztp-cumulus.sh
ZTP Manual: URL respon

[2018-07-24 14:53] komatek21 commented on #240
I've resolved the issue by putting a default image (http://10.10.10.254/vendor_images/cumulus/onie-installer) based on 3.6.1 . After the initial installation (reboot in cumulus linux and not ONIE anymore) the ZTP script is loaded and executed (thanks to dhcp option 239).
I've configured the check ( in profiles os-selector.cfg) on 3\.6\.2 in order to verify if ZTP is working, and it is, the detecti

[2018-10-04 06:58] Noname2244 commented on #118
Any news here? Any tips on how to get this working for ios xe 16.x.x ? Im looking at ways to deploy 3650 switches

[2018-10-11 20:39] penguin02007 opened #242 "os_name show up as cumulus"
Is the bootstrap correctly setting the os_name under status? All of our devices get the dns name with dhcp, but under device tab, all of them have 'cumulus' shown up instead.

https://github.com/Apstra/aeon-ztps/blob/45f649f9453a56da1cc16df183c6292505c33762/aeon_ztp/bin/cumulus_bootstrap.py#L93

![image](https://user-images.githubusercontent.com/3166772/46832470-1c547e80-cd74-11e8-82a9-7b96082147b

[2018-11-20 12:37] runeka opened #243 "vendor_images larger than 1G not transfering"
In /etc/nginx/sites-enabled/aeon-ztp.ini add the uwsgi parameters to get it working:

server {
    access_log /var/log/aeon-ztp/nginx.access.log;
    error_log /var/log/aeon-ztp/nginx.error.log error;

    listen 80;
    listen 8080;
    server_name localhost aeon-ztp;

    uwsgi_buffer_size               264k;
    uwsgi_buffers                   8 264k;
    uwsgi_busy_buffers_size         264k;

[2018-11-20 12:41] runeka opened #244 "Cscio nxos 9.2(1) has default nx-api http disabled"
In /opt/aeonztps/etc/configs/nxos/nxos-boot.conf add "nxapi http port 80" as a workaround to add support for http.

feature nxapi
feature bash-shell
feature evmed

no password strength-check
username admin password 5 $1$Yg5kzRKD$u4LwnU8eFYRpyz/3LMF1d/  role network-admin
ip domain-lookup
nxapi http port 80

[2018-12-03 10:00] Noname2244 opened #245 "IOS XE"
Hi! Is there any plans for supporting ios xe ?

[2018-12-17 20:06] SMBurrows commented on #118
@Noname2244 Did you manage to get IOS-XE working?

[2018-12-17 21:01] Ondjultomte commented on #118
No,no luck yet

[2019-01-31 09:00] davbeny opened #247 "Aeons ZTP on Juniper"
Hello,

Is it in a way possible to use aeon's with Juniper switch?

Thanks,

Regards,

David

[2019-03-08 18:23] moritz0906 opened #248 "Aeons ZTP on FSOS"
Hello,

we are going to build a datacenter using a lot of switches from fs.com.
Is there a way to integrate their systems?
Can I do it myself?

Thanks,
moritz

[2019-12-17 07:12] networkpadawan opened #257 "is this project abandoned?"
seems no vendor or community engagement for some time?

[2019-12-18 18:42] Ragsboss commented on #257
We've a revamped ZTP server internally that's going through testing and we are evaluating when to upstream that. Meanwhile the code here is functional and should work. Do you have anything specific in mind?

[2019-12-18 22:28] networkpadawan commented on #257
Good to know this still lives! We are starting to evalute tools, and this one seems to fit (except the lack of junos capability) but was a bit worried due to the state of the github:) any pointers on how to add junos support? Thanks!

[2020-03-03 23:11] mmihir82 opened #258 "Can Aeon-ZTPs support Mellanox device?"
Mellanox use onyx, is it similar to Cumulus oni?

How easy to add new vendor into aeon-ztps?

Thank you